StartFreq=30e6
StepFreq=3e6
StartTime=2009/02/09/21:21:40
StepTime=120
RightAscension=0:0:0
Declination=65.0.0
NBands=1
NFrequencies=64
NTimes=120
NParts=1
#TileSizeFreq=16
#TileSizeRest=10
WriteAutoCorr=T
AntennaTableName=VLAAA_ANTENNA
MSName=VLAAA4h_LF.MS
MSDesPath=.
