StartFreq=30e6
StepFreq=3e6
StartTime=2009/02/09/17:21:40
StepTime=300
RightAscension=0:0:0
Declination=65.0.0
NBands=1
NFrequencies=64
NTimes=96
NParts=1
#TileSizeFreq=16
#TileSizeRest=10
WriteAutoCorr=T
AntennaTableName=VLAx10_ANTENNA
MSName=VLAx10.MS
WriteImagerColumns=F
MSDesPath=.
