StartFreq=6e+7
StepFreq=125e3
StartTime=2000/02/09/12:21:40
StepTime=60
RightAscension=12:0:0
Declination=45.0.0
NBands=1
NFrequencies=64
NTimes=720
NParts=1
#TileSizeFreq=16
#TileSizeRest=10
WriteAutoCorr=T
AntennaTableName=WSRT_ANTENNA
MSName=WSRT_lba.MS
MSDesPath=.
